**Exercise 1: Create a Jupyter Notebook**

 DataScienceEcosystem.ipynb

**Exercise 2 - Create a markdown cell with the title of the notebook**.

 ## Data Science Tools and Ecosystem

**Exercise 3 - Create a markdown cell for an introduction.**

In this notebook, Data Science Tools and Ecosystem are summarized.



**Objectives:**

* List popular languages that Data Scientists use.
* List commonly used libraries used by Data Scientists. 
* Comment on Data Science tools.

**Exercise 4 - Create a markdown cell to list data science languages**

Some of the popular languages that Data Scientists use are:

1.Python.  
2.R.  
3.SQL.  
4.Java.  
4.Julia.  
6.Scala.  
7.C/C++.  
8.JavaScript.

**Exercise 5 - Create a markdown cell to list data science libraries**

1.TensorFlow.  
2.NumPy.  
3.SciPy.  
4.Pandas.  
5.Matplotlib.  
6.Keras.  
7.SciKit-Learn.  
8.PyTorch.  
9.Scrapy.  
10.BeautifulSoup.  
11.LightGBM.  
12.ELI5.  
13.Theano.  
14.NuPIC.  
15.Ramp.  
16.Pipenv.  
17.Bob.  
18.PyBrain.  
19.Caffe2.  
20Chainer.

**Exercise 6 - Create a markdown cell with a table of Data Science tools.**

Data Science Tools:

|Data Science Toos|
|----------------|
|SAS. It is one of those data science tools which are specifically designed for statistical operation|		
|Apache Spark|		
|BigML|

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples.**

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# Arithmetic operations
code = compile("5 + 9", "<string>", "eval")
eval(code)
# Result: 14

14

In [4]:
code1 = compile("(5 + 7) * 3", "<string>", "eval")
eval(code1)
# Result: 36

36

In [6]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 4)", "<string>", "eval")
eval(code2)
# Result: 1636246.1737446839

1636246.1737446839

**Exercise 8 - Create a code cell to multiply and add numbers.**

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+2
# Result: 14

14

**Exercise 9 - Create a code cell to convert minutes to hours**

This will convert 100 minutes to hours by diving by 60

In [11]:
days = 0
hours = 0
mins = 0

time = 100
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 1.6666666666666667 hours

0 days, 1.6666666666666667 hours, 0 mins.

**Exercise 10 -Insert a markdown cell to list Objectives.**

Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.

**Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.**

## Author:

**Rouhia Sallam**